@font-face {
  font-family: bar;
  src: url(src/assets/Fonts/bar.otf) format("opentype");
}

* {
  font-family: bar;
}

.balance {
  width: 5vh;
  height: 5vh;
  margin-left: 10px;
}

.result {
  color: red;
  font-size: 3vh;
}

