.balance {
  width: 5vh;
  height: 5vh;
  background-color: white;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

.result {
  color: red;
  font-size: 3vh;
}
.result {
  display: flex;
  justify-content: center;
  justify-content: center;
}

.balance {
  margin-left: 10px;
}
