@font-face {
  font-family: moro;
  src: url(src/assets/Fonts/moro.otf) format("opentype");
}

* {
  font-family: moro;
}

.balance {
  width: 5vh;
  height: 5vh;
  margin-left: 10px;
}

.result {
  display: flex;
  justify-content: space-around;
  color: deeppink;
  font-size: 3vh;
}

img {
  margin-left: 10px;
}

img.kotek:hover {
  box-shadow: 0 0 12vw 11vw rgba(0, 187, 249, 0.5);
}
