html {
  background: hsla(52, 100%, 63%, 1);

  background: radial-gradient(circle, hsla(52, 100%, 63%, 1) 0%, hsla(324, 84%, 65%, 1) 100%);

  background: -moz-radial-gradient(circle, hsla(52, 100%, 63%, 1) 0%, hsla(324, 84%, 65%, 1) 100%);

  background: -webkit-radial-gradient(circle, hsla(52, 100%, 63%, 1) 0%, hsla(324, 84%, 65%, 1) 100%);

}
