@font-face {
  font-family: BalonkuRegular-la1w;
  src: url(src/assets/Fonts/BalonkuRegular-la1w.otf) format("opentype");
}


.header{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'BalonkuRegular-la1w';
  color: #00bbf9;
  font-size: 8vw;
  text-align: center;
}

.result {
  font-size: 6vw;

}


img {
  border-radius: 18px;
  padding: 5px;

}

img:hover {
  box-shadow: 0 0 12vw 11vw rgba(0, 187, 249, 0.5);
}

.container {
  display: flex;
  justify-content: space-evenly;
}



